@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    background-color: #282828;
}
.ficha{
    position: relative;
    width:100vw;
    height: 100vh;
    background-color: #282828;
    /*background-image: url(img/obna.png);
    background-size: cover;
    background-repeat: no-repeat;*/
}
.campo{
    position: fixed;
    width: 60px;
    height: 30px;
    text-align: center;
    background-color: rgba(54, 54, 54, 0.219);
    border: none;
    color: darkred;
    font-size: larger;
    font-weight: bolder;
    right: 40%;
}

#forca{
    top: 20%;
}

