@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
}
.ficha{
    position: relative;
    min-width:99vw;
    height: 1843px;
    background-image: url(img/obna.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#forca.campo {
    position: absolute;
    top: 405px;
    left: 347px;
    width: 60px;
    height: 30px;
    text-align: center;
    background-color: rgba(54, 54, 54, 0.219);
    border: none;
    color: darkred;
    font-size: larger;
    font-weight: bolder;
    
}
